SESSION_KEY - secret key for sessions 

For google login:
GOOGLE_CLIENT_ID - from https://console.cloud.google.com/auth/overview
GOOGLE_CLIENT_SECRET - from https://console.cloud.google.com/auth/overview

