@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url('styles.css');


html {
    background-color: white;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(202, 202, 202, 0.307);
    border-radius: 1vw;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #EEF3FF;
}

#another_method_suggestion {
    display: flex;
    gap: 3%;
    margin-right: 20%;
    width: 15%;
    align-items: center;
    font-size: 120%;
    margin-bottom: -2%;
    color: rgba(59, 59, 59, 0.851);

}

#another_method_suggestion a {
    text-decoration: none;
    color: #1e35e2;
}

#another_method_suggestion a:hover {
    text-decoration: underline #4F63F7;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 220%;
    font-family: "Edu VIC WA NT Hand", cursive;
}

#heading {
    display: flex;
    align-items: center;
    width: 45%;
    margin-left: 20%;
    gap: 2%
}

#slogan_and_image {
    margin-left: 5%;
    width: 40%
}

#slogan_and_image h1 {
    font-size: 300%;
    font-family: "Orbitron", sans-serif;
}

#slogan_and_image img {
    margin-left: -5%
}

#right_in_h1 {
    color: #4F63F7;
}

#slogan_and_image p {
    color: rgba(0, 0, 0, 0.591);
    width: 80%;
    line-height: 1.4;
    margin-top: 0%;
    font-size: 120%
}

.island {
    border: solid 1px rgba(210, 210, 210, 0.307);
    background-color: white;
    border-radius: .3vw;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: fit-content;
    
}

.island h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 8%
}

.island h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 110%;
    margin-bottom: 1%
}

#starting_p {
    color: rgba(0, 0, 0, 0.591);
    font-size: 110%;
    margin-top: -3%;
    margin-bottom: 7%
}

#added_message {
    text-align: center;
    margin-top: 5%;
    font-size: 110%
}

#added_message a {
    color: #4F63F7
}


#submit_button {
    margin-top: 5%;
    background-color: #4F63F7;
    color: white;
    border: solid transparent;
    border-radius: .3vw
}

#submit_button:hover {
    background-color: blue
}

button {
    display: flex;
    align-items: center;
    gap: 1%;
    justify-content: center;
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 100%;
    min-width: 365px;
}

.diff_signin {
    background-color: white;
    border: 2px solid rgb(167, 167, 167);
    border-radius: .3vw
}

.diff_signin:hover {
    background-color: rgb(213, 211, 211)
}

.div_input {
    display: flex;
    align-items: center;
}

input {
    font-size: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: 1px solid rgba(168, 168, 168, 0.731);
    border-radius: .3vw;
    width: 60%;
    padding-left: 3%;
    margin-bottom: 3%;
    min-width: 350px
}

input:focus {
    outline: 1px solid #4F63F7;
}

.password input:not(:placeholder-shown) {
    letter-spacing: .3vw
}

.password {
    display: flex;
    flex-direction: column
}

.password a {
    text-decoration: none;
    margin-top: -2%;
    color: #4F63F7;
}

.password a:hover {
    text-decoration: underline
}

#or {
    text-align: center;
}
