header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 220%;
    font-family: "Edu VIC WA NT Hand", cursive;
}

#heading {
    display: flex;
    align-items: center;
    width: 45%;
    margin-left: 4%;
    gap: 2%
}

#header_buttons {
    width: 18%;
    display: flex;
    gap: 15%;
    align-items: center;
}

#header_buttons button {
    font-size: 160%;
    padding: .45vw;
    border: solid rgb(174, 174, 174) 2px;
    border-radius: .5vw;
    width: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#header_buttons form {
    display: inline-block;
}

#header_buttons button:hover {
    transform: scale(1.05);
}

#white_button {
    background-color: white;
}


#blue_button {
    background-color: #4F63F7;
    border: solid transparent !important;
    color: white
}

#main_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5%;
}

#landing_image {
    margin-right: 10%;
}

#left_body {
    margin-left: 4%;
    width: 33%
}

#left_body_h2 {
    display: flex;
    align-items: center;
    gap: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif, Courier, monospace;
    border: solid transparent;
    border-radius: 2vw;
    width: 40%;
    font-size: 60%;
    margin-bottom: -5%;
    margin-top: 5%;
    padding-right: .5%;
    padding-left: .5%;
    color: #4F63F7;
    background-color: rgba(113, 157, 244, 0.357);
}

#left_body h1 {
    font-size: 400%;
    font-family: "Orbitron", sans-serif;
}

#left_body p {
    color: rgba(0, 0, 0, 0.591);
    width: 60%;
    line-height: 1.4;
    margin-top: -5%;
    font-size: 120%
}

#left_body_buttons {
    display: flex;
    gap: 10%
}

#left_body_buttons button {
    font-size: 160%;
    padding: .7vw;
    border: solid rgb(174, 174, 174) 2px;
    border-radius: 1vw;
    width: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#left_body_buttons #blue_button {
    background-color: #4F63F7;
    display: flex;
    align-items: center;
    gap: 5%;
    border: solid transparent;
}

#left_body_buttons #white_button {
    border: 2px solid rgba(128, 128, 128, 0.491)
}

#left_body_buttons #blue_button:hover {
    color: black
}

#left_body_buttons #white_button:hover {
    color: white;
    background-color: gray
}

#left_body_buttons form {
    display: inline-block
}

#right_in_h1 {
    color: #4F63F7;
}

#join_suggestion {
    display: flex;
    align-items: center;
    margin-top: 3%;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.591);
    gap: 1.5%;
    width: 50%
}


