{% extends "layout.html" %}

{% block title %}
    Landing Page
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/static/css/landing_page.css">
{% endblock %}

{% block main %}

    <header>
        <div id="heading">
            <img src="/static/images/blue_man_house.png">
            <h1>Job-Matcher</h1>
        </div>

        <div id="header_buttons">
            <form action="/login" method="GET">
                <button type="submit" id="white_button">Log In</button>
            </form>
            <form action="/register" method="GET">
                <button type="submit" id="blue_button">Sign In</button>
            </form>
            
        </div>
    </header>

    <hr>
        
    <div id="main_body">
        <div id="left_body">
            <div id="left_body_h2">
                <img width="7%" alt="Intelligence spark" src="/static/images/intelligence_spark.png"><h2>Smartest job search. Best matches.</h2>
            </div>
            
            {% include "slogan.html" %}
            <div id="left_body_buttons">
                <button id="blue_button">Get Started<span><img width="70%" src="/static/images/small_white_arrow.png"></span></button>
                <button id="white_button">Learn More</button>
            </div>


            <div id="join_suggestion">
                <img width="20%" src="/static/images/people.png">
                <h4>Join thousands finding their next opportunity!</h4>
            </div>
        </div>

        <div id="landing_image">
            <img alt="Man with a laptop, searching for job." src="/static/images/job_matcher_man.png">
        </div>
    </div>

    <div>

    </div>

    <footer>

    </footer>

{% endblock %}