<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Job-Matcher: {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/static/images/jm_icon_cropped.png?v=1">

        <link rel="stylesheet" href="static/css/styles.css">
        {% block page_css %}{% endblock %}
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        {% block header %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash flash-{{ category }}">{{ message }}<span><img onclick="this.closest('.flash').style.display='none';" width="60%" src="/static/images/close.png"></span></p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if show_nav != False %}
            <nav>

            </nav>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>

        <foot>

        </foot>
    </body>
</html>